<div>
  <img src="assets/img/tutorial/firstPart.png" class="imgScreenshot" />
  <div class="mb-1 d-flex justify-content-end pe-4">
    <img src="assets/img/tutorial/fullHammer.svg" />
    <img src="assets/img/tutorial/emptyHammer.svg" />
    <img src="assets/img/tutorial/emptyHammer.svg" />
  </div>

  <img src="assets/img/tutorial/secondPart.png" class="imgScreenshot" />

  <div class="text-center">
    <button type="button" class="btn btn-primary mb-2">
      Ajouter au projet
    </button>
  </div>
  <img src="assets/img/tutorial/thirdPart.png" class="imgScreenshot" />
</div>
