<div>
  <img src="assets/img/tutorial/firstPart.png" class="imgScreenshot" />
  <div class="mb-1 d-flex justify-content-end pe-4">
    <img src="assets/img/tutorial/fullHammer.svg" />
    <img src="assets/img/tutorial/emptyHammer.svg" />
    <img src="assets/img/tutorial/emptyHammer.svg" />
  </div>

  <img src="assets/img/tutorial/secondPart.png" class="imgScreenshot" />

  <div class="text-center">
    <!-- Button trigger modal -->
    <button
      type="button"
      class="btn btn-primary mb-2"
      data-bs-toggle="modal"
      data-bs-target="#exampleModal"
    >
      Ajouter au projet
    </button>

    <!-- Modal -->
    <div
      class="modal fade"
      id="exampleModal"
      tabindex="-1"
      role="dialog"
      aria-labelledby="exampleModalLabel"
      aria-hidden="true"
    >
      <div class="modal-dialog" role="document">
        <div class="modal-content">
          <div class="modal-header">
            <button
              type="button"
              class="btn-close"
              data-bs-dismiss="modal"
              aria-label="Close"
            ></button>
          </div>
          <div class="modal-body">Le tuto a bien été ajouté à votre projet</div>
          <div class="modal-footer">
            <button
              type="button"
              class="btn btn-primary"
              data-bs-dismiss="modal"
            >
              Continuer
            </button>
          </div>
        </div>
      </div>
    </div>
  </div>
  <img src="assets/img/tutorial/thirdPart.png" class="imgScreenshot" />
</div>
