
<app-green-banner></app-green-banner>
<div class="container">
<div class="row">
    <mat-icon class="iconSalleDeBains col-2">bathtub</mat-icon>
    <p class="title col-10"> Nos Tutoriels Salle de Bain </p>   
</div>

<div class="card">
    <div class="card-body">
      <h5 class="card-title">Douche et accessoires</h5>
    <p class="card-text">
        <a href="#" class="stretched-link text-danger" style="position: relative;">Comment choisir sa colonne sa paroi de douche</a>
    </p>
    <p class="card-text">
        <a href="#" class="stretched-link text-danger" style="position: relative;">Comment choisir son flexible de douche</a>
    </p>
    <p class="card-text">
        <a href="#" class="stretched-link text-danger" style="position: relative;">Comment installer une douche à l'Italienne</a>
    </p>
    <p class="card-text">  
        <a href="#" class="stretched-link text-danger" style="position: relative;">Comment installer une étagère de salle de bain</a>
    </p>
    </div>
  </div>

  <div class="card">
    <div class="card-body">
      <h5 class="card-title">Lavabos et Vasque</h5>
    <p class="card-text">
        <a href="#" class="stretched-link text-danger" style="position: relative;">Comment choisir une vasque</a>
    </p>
    <p class="card-text">
        <a href="#" class="stretched-link text-danger" style="position: relative;">Comment installer une vasque</a>
    </p>
    <p class="card-text">
        <a href="#" class="stretched-link text-danger" style="position: relative;">Comment détartrer une paroi de douche</a>
    </p>
    <p class="card-text">  
        <a href="#" class="stretched-link text-danger" style="position: relative;">Vasque ou lavabo: que choisir pour votre salle de bains</a>
    </p>
    </div>
  </div>

  <div class="card">
    <div class="card-body">
      <h5 class="card-title">Accessoires de salle de bain</h5>
    <p class="card-text">
        <a href="#" class="stretched-link text-danger" style="position: relative;">Rideau de douche ou pare baignoire</a>
    </p>
    <p class="card-text">
        <a href="#" class="stretched-link text-danger" style="position: relative;">Comment installer un rideau de douche</a>
    </p>
    <p class="card-text">
        <a href="#" class="stretched-link text-danger" style="position: relative;">Sèche main: comment choisir</a>
    </p>
    <p class="card-text">  
        <a href="#" class="stretched-link text-danger" style="position: relative;">Tablette et étagère de salle de bains : comment choisir</a>
    </p>
    </div>
  </div>
  

    <div class="row">
        <mat-icon class="iconTerrasse">
            deck
        </mat-icon>
        <p class="title col-10"> Nos Tutoriels Terrasse </p>   
    </div>
  </div>
 
  <div class="card">
    <div class="card-body">
      <h5 class="card-title"></h5>
    <p class="card-text">
        <a href="#" class="stretched-link text-danger" style="position: relative;">Comment choisir des lames de terrasse ? </a>
    </p>
    <p class="card-text">
        <a href="#" class="stretched-link text-danger" style="position: relative;">Caillebotis ou lames de terrasse ? </a>
    </p>
    <p class="card-text">
        <a href="#" class="stretched-link text-danger" style="position: relative;">Comment poser sa terrasse en bois sur plots? </a>
    </p>
    <p class="card-text">  
        <a href="#" class="stretched-link text-danger" style="position: relative;">Comment poser sa terrasse en bois sur lambourdes ? </a>
    </p>
    </div>
 









