<!-- PRODUCT -->
<div *ngIf="project != undefined" class="banner d-flex justify-content-around align-items-center">
    <span [routerLink]="['/listProject']" class="material-icons"> arrow_circle_left </span>
    <h2>{{project.name}}</h2>
  <div class="d-flex align-items-center">
    <mat-icon class="mx-1">account_balance_wallet</mat-icon>
    <input type="text" value="{{project.budget}}"/>
  </div>
</div>

<div class="d-flex justify-content-around m-4">
  <h2>Budget après achats</h2> <h2>{{remainingBudget}}€</h2>
</div>

<div  class="block">
  <h2>Mes produits</h2>
  <div *ngIf='project != undefined'>
    <div  *ngFor='let product of project.listProduct'>
      <div *ngIf="!product.isBuy" class="product d-flex justify-content-between my-3">
        <p class="description">{{product.name}}</p>
        <p>{{product.price}}€</p>
        <p>x1</p>
        <mat-icon (click)="addProductToBuy(product)">add_shopping_cart</mat-icon>
        <mat-icon data-bs-toggle="modal"
        data-bs-target="#exampleModal">delete</mat-icon>
      </div>
    </div>
  </div>
  

  <div class="container text-center">
    <mat-icon [routerLink]="['/home']" (click)="setUpdatedProject()" class="add">add_circle_outline</mat-icon>
  </div>
  
  <h2 class="d-flex justify-content-end">Total {{totalProduct}}€</h2>
</div>

<!-- TUTORIALS -->
<div class="block">
  <h2>Mes tutoriels</h2>
  <div class="container my-3" (click)="goOnTuto()">
    <div *ngIf="project != undefined" class="row">
      <div  class="col-6" *ngFor='let tuto of project.listTuto'>
        <div class="card d-flex flex-column justify-content-center" style="background-image: url('../assets/img/project/{{tuto.image}}');">
          <p>{{tuto.title}}</p>
          <div class="d-flex justify-content-center">
            <mat-icon class="mx-1">hardware</mat-icon>
            <mat-icon class="mx-1">hardware</mat-icon>
            <mat-icon class="mx-1">hardware</mat-icon>
          </div>
        </div>
      </div>
    </div>
  </div>

  <div class="container text-center">
    <mat-icon [routerLink]="['/categoriesTutorials']" (click)="setUpdatedProject()" class="add">add_circle_outline</mat-icon>
  </div>
</div>


<!-- ACHATS -->
<div class="block" *ngIf='project != undefined'>
  <h2>Mes achats</h2>
    <div *ngFor='let product of project.listProduct'>
      <div *ngIf="product.isBuy" class="product d-flex justify-content-between my-3" >
        <p class="description">{{product.name}}</p>
        <p>{{product.price}}€</p>
        <p>x1</p>
      </div>
    </div>
  
  <h2 class="d-flex justify-content-end">Total {{totalBuy}}€</h2>
</div>



<!-- Button trigger modal -->

<!-- Modal -->
<div
class="modal fade"
id="exampleModal"
tabindex="-1"
role="dialog"
aria-labelledby="exampleModalLabel"
aria-hidden="true"
>
<div class="modal-dialog" role="document">
    <div class="modal-content">
      <div class="modal-header">
        <button
          type="button"
          class="btn-close"
          data-bs-dismiss="modal"
          aria-label="Close"
        ></button>
      </div>
      <div class="modal-body">Êtes-vous sûr de vouloir supprimer l'article</div>
      <div class="modal-footer">
        <button
          type="button"
          class="btn btn-primary"
          data-bs-dismiss="modal"
        >
          Valider
        </button>
        <button
          type="button"
          class="btn btn-primary"
          data-bs-dismiss="modal"
        >
          Annuler
        </button>
      </div>
    </div>
  </div>
</div>

