mat-icon{
    color:#0c193a;
}

.banner{
    padding : .7rem;
    background-color:#31b9ad;
}

input{
    border-radius: 15px;
    width:150px;
    background-color : #31b9ad;
}


h2{
    color:#0c193a;
    font:Arial;
    font-size: 20px;
    margin : 0;
    font-weight: bold;
}

.block{
    padding : .5rem;
    margin : 2rem;
    box-sizing: 30em;
    border-radius : 2px;
    border : 1px solid rgba(192, 192, 192, 0.5);
    box-shadow: 4px 4px 4px rgba(12, 25, 58, 0.25);
}

.product mat-icon{
    text-align: center;
    flex : 1
}

.product p{
    text-align: center;
    flex : 2;
}

.product .description{
    flex : 3;
    text-align: left;
}


.add{
    font-size: 2.5rem;
}

.tuto{
   display:flex;
   justify-content: space-between;
   flex-wrap: wrap;

}
.card{
    min-height: 125px;
    padding : .3rem;
    text-align: center;
    font-weight: bold;
    border-radius : 10px;
    background-size: cover;
    box-shadow: 4px 4px 4px rgba(12, 25, 58, 0.4);
}


.final{
    display:flex;
    justify-content:space-around;
    margin : 2rem;
}