<div class="banner d-flex justify-content-around align-items-center">
    <div class="d-flex">
        <mat-icon>construction</mat-icon>
        <select name="" id="">
            <option value="{{project.name}}">{{project.name}}</option>
            <option value="Terrasse">Terrasse</option>
        </select>
    </div>
    <div class="d-flex">
        <mat-icon>account_balance_wallet</mat-icon>
        <span>{{remainingBudget}}€</span>
    </div>
    <mat-icon (click)="disconnectUpdatedProject()">logout</mat-icon>
</div>
